# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================


# Matlab
*.asv
Remoras/SPICE-Detector/settings/settings_detector_xwav_GOM.m
Remoras/SPICE-Detector/settings/settings_detector_xwav_GOM.m
Remoras/SPICE-Detector/settings/settings_detector_xwav_GOM_test.m
*.mat
!Remoras/Fish detector/Bocaccio1_template.mat
!Remoras/Fish detector/Bocaccio2_template.mat
!Remoras/Fish detector/Bocaccio3_template.mat
!Remoras/Fish detector/Bocaccio5_template.mat
!Remoras/Airgun-Detector/air_template_df100.mat
!Remoras/Explosion-Detector/template.mat
*.cnf
Settings/InstalledRemoras.cnf
*.prj
*.cp.txt
