C:\Users\selene\OneDrive\MATLAB\Triton\Remoras\Logger
C:\Users\selene\OneDrive\MATLAB\Triton\Remoras\Detector
C:\Users\selene\OneDrive\MATLAB\Triton\Remoras\SPICE-Detector
C:\Users\selene\OneDrive\MATLAB\Triton\Remoras\ClusterTool
C:\Users\selene\OneDrive\MATLAB\Triton\Remoras\ImageSet
C:\Users\selene\OneDrive\MATLAB\Triton\Remoras\LabelVis
C:\Users\Selene.Fregosi\Documents\MATLAB\Triton\Remoras\Logger
