D:\data\GitHub\Triton\Remoras\Soundscape-Metrics
D:\data\GitHub\Triton\Remoras\Airgun-Detector
D:\data\GitHub\Triton\Remoras\ClusterTool
D:\data\GitHub\Triton\Remoras\Ship-Detector
D:\data\GitHub\Triton\Remoras\Logger
