C:\Users\Alba\Documents\MATLAB\GitHub\Triton\Remoras\Detector
C:\Users\Alba\Documents\MATLAB\GitHub\Triton\Remoras\SPICE-Detector
C:\Users\albas\Documents\GitHub\Triton\Remoras\Detector
C:\Users\albas\Documents\GitHub\Triton\Remoras\SPICE-Detector
